---
layout: default
title: Blog
weight: 4
permalink: /blog/
---

<div class="card text-white bg-danger mb-3">
    <div class="card-header">IMPORTANT</div>
    <div class="card-body">
        <h5 class="card-title">Under construction</h5>
        <p class="card-text">This page in under construction. Information provided here is not accurate. In the meantime please visit my <a href="https://www.linkedin.com/in/vijay-nirmal/">linkedin profile</a> for details</p>
    </div>
</div>

{% include blog/search.html %}
{% include blog/index.html %}